<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Site.Title }}</title>
  {{ partial "header/stylesheets.html" . }}
</head>
<body
  data-controller="application"
  data-application-initial-language-version-value={{ .Site.Data.languages.initial }}
  data-application-submit-button-submitting-class="disabled"
  data-application-submit-button-submitting-text-value="Submitting..."
  data-application-submit-button-original-text-value="Disassemble"
>
    {{ partial "header/nav.html" . }}
    {{ partial "title.html" . }}

    <div id="container">
      {{ block "main" . }}
      {{ .Content }}
      {{ end }}
    </div>

    {{ partial "about_modal.html" . }}

    {{ partial "footer/copyright.html" . }}

    {{ partial "footer/scripts.html" . }}
</body>
</html>
