<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{ .Site.Title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#about-modal">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Languages</a>
        <div class="dropdown-menu">
          {{ range .Site.Data.languages.supported }}
            {{ if eq . "" }}
              <div class="dropdown-divider" data-action="application#choose"></div>
            {{ else }}
              <a class="dropdown-item" href="#" data-action="application#choose">{{ . }}</a>
            {{ end }}
          {{ end }}
        </div>
      </li>
    </ul>
  </div>
</nav>
